* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Norse-Bold";
  src: url(./fonts/Norse-Bold.otf);
  font-weight: bold;
  font-style: bold;
}

body {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.first-col {
  width: 60%;
  position: relative;
}

.background-img {
  width: 120%;
  position: absolute;
  z-index: -1;
}

.odin-logo-cont {
  position: absolute;
  background-color: rgb(0 0 0 / 0.4);
  text-align: center;
  color: white;
  top: 11rem;
  padding: 0.6rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.odin-logo {
  width: 18%;
  color: white;
  opacity: 1;
}

.odin-text {
  font-family: "Norse-Bold";
  font-size: 5rem;
}

.second-col {
  display: block;
  background-color: white;
}
