* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Norse-Bold";
  src: url(./fonts/Norse-Bold.otf);
  font-weight: bold;
  font-style: bold;
}

body {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.first-col {
  width: 60%;
  position: relative;
}

.background-img {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.odin-logo-cont {
  position: absolute;
  background-color: black;
  opacity: 0.5;
  text-align: center;
  color: white;
}

.odin-logo {
  width: 15%;
  color: white;
  opacity: 1;
}

.odin-text {
  font-family: "Norse-Bold";
  font-size: 5rem;
}

.second-col {
  display: block;
}
