body {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.first-col {
  width: 60%;
  position: relative;
}

.background-img {
  width: 100%;
  position: absolute;
}

.odin-logo {
  position: absolute;
}

.second-col {
  display: block;
}
